#up-btn {
    position: fixed;
    top: 65%;
    right: 22%;
    color: blue;
    background-color: white;
    opacity: 1;
    transition: all .4s;
    border-width: 0px;
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 40px;

}
.up-btn-images {
    height: 40px;
    width: 40px;
}