// Text colors
$white-text: #FFFFFF;
$black-text: #000000;
$orange-text: #FF6B08;
$error-text: #FF001B;
$footer-text: #545454;
// Modal keywords color:
$modal-key-text: #8C8C8C;

// Background colors
$main-bgc: #FFFFFF;
$header-bgc: rgba(0, 0, 0, 0.56);
$footer-bgc: #F7F7F7;

// Button colors
$orange-btn:#FF6B01;
// Shadow of active orange btns on Library page header:
$active-btn-shadow: rgba(255, 107, 1, 0.6);

// Borders radius
$main-border-radius: 5px;


